main {
  .wrapper {
    .my-reward-wrapper {
      .my-reward {
        &-table {
          thead {
            background-color: $secondary-blue;
          }
        }
      }
    }
    .lotto-result-card-wrapper {
      background-color: #e9f2fb;
      padding: 5px;
      margin-top: 20px;
      .lotto-result-card {
        border: $page-border;
        position: relative;
        .lotto-group-container {
          width: 70%;
          padding: 10px 0 10px 20px;
        }
        &-type {
          position: absolute;
          background-color: #0070c0;
          width: 60px;
          height: 60px;
          border-radius: 60px;
          text-align: center;
          line-height: 60px;
          right: 20px;
          top: -30px;
          color: white;
          font-size: 35px;
        }
        &-infor {
          height: 100px;
          padding: 20px 70px 20px 20px;
        }
        &-total {
          height: 150px;
          padding: 0 60px 0 20px;
          span {
            font-size: 35px;
          }
        }
        &-numbers {
          border-bottom: $page-border;
        }
        &-table {
          border-top: $page-border;
          thead {
            background-color: $secondary-blue;
          }
        }
        &-detail {
          border-top: $page-border;
          background-color: $secondary-blue;
          color: white;
          position: relative;
          .show-detail {
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 15px solid white;
            position: absolute;
            right: 30px;
            top: 12px;
          }
          .hide-detail {
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 15px solid white;
            position: absolute;
            right: 30px;
            top: 8px;
          }
        }
      }
    }
  }
}
