$border-color: #41719c;
$primary-blue: #0070c0;
$secondary-blue: #5b9bd5;
$third-blue: #00b0f0;
$background-blue: #e9f2fb;
$page-border: 1.5px solid $border-color;
$breakpoint-smail-device: 375px;
$ball-color-1: #f35a3f;
$ball-color-2: #ffbb1c;
$ball-color-3: #90b355;
$ball-color-4: #499ee3;
$ball-color-5: #8f46d2;
@import "buy-ticket";
@import "history";
@import "result";
@import "ticket";
@import "home";
@import "sub-sm-ball";
@import "wallet";
@import "wallet-transaction";
@import "money-change";
.text-red {
  color: #FF5050;
}
.text-white {
  color: white;
}
.hover {
  cursor: pointer;
}

.text-link {
  color: $third-blue;
  &:hover {
    cursor: pointer;
  }
}
.view-more {
  button {
    padding: 5px 20px;
    border: $page-border;
    border-radius: 10px;
    color: white;
    background-color: $secondary-blue;
  }
}
header {
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
  .wrapper {
    max-width: 450px;
    margin: 0 auto;
    .header-container {
      display: flex;
      justify-content: space-between;
      padding: 5px;
      .header-item {
        position: relative;
        .btn-cart {
          div {
            position: absolute;
            width: 20px;
            height: 20px;
            background-color: $secondary-blue;
            font-size: 12px;
            border-radius: 20px;
            top: 0;
            right: 0;
            border: $page-border;
            line-height: 15px;
            font-weight: 700;
          }
        }
      }
    }
  }
}

main {
  height: calc(100vh - 100px);
  .wrapper {
    overflow: auto;
    height: 100%;
    max-width: 450px;
    margin: 50px auto 0 auto;
    position: relative;
    .choose-lotto-type {
      button {
        text-transform: uppercase;
        width: 45%;
        font-size: 25px;
        border: $page-border;
        border-radius: 12px;
        font-weight: 600;
        background-color: #e7e6e6;
        color: white;
        &:first-child.active {
          background-color: $secondary-blue;
        }
        &:nth-child(2).active {
          background-color: #92d050;
          position: relative;
          .lotto-result-noitify {
            width: 30px;
            height: 30px;
            border-radius: 30px;
            line-height: 30px;
            text-align: center;
            background-color: red;
            color: white;
            position: absolute;
            top: -15px;
            right: -15px;
            font-size: 25px;
          }
        }
      }
    }
  }
}

footer {
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
  background-color: white;
  .wrapper {
    max-width: 450px;
    margin: 0 auto;
    .footer-item-container {
      display: flex;
      justify-content: center;
      .footer-item {
        width: 20%;
      }
    }
  }
}

.lotto-group {
  &-item {
    width: 35px;
    height: 35px;
    border-radius: 35px;
    line-height: 35px;
    text-align: center;
    font-weight: 700;
    color: white;
    &:nth-child(1) {
      background-color: $ball-color-1;
    }
    &:nth-child(2) {
      background-color: $ball-color-2;
    }
    &:nth-child(3) {
      background-color: $ball-color-3;
    }
    &:nth-child(4) {
      background-color: $ball-color-4;
    }
    &:nth-child(5) {
      background-color: $ball-color-5;
    }
    &.empty {
      background-color: #d9d9d9;
    }
  }
}

@media (max-width: $breakpoint-smail-device) {
  .wallet-transaction-history-tabs-container {
    height: calc(100vh - 515px ) !important;
  }
  .ticket {
    &-item {
      & > div:nth-child(2) {
        padding: 0 5px !important;
        width: 220px !important;
        min-width: 215px !important;
      }
    }
    &-card {
      &-header {
        &-congra {
          left: 55px !important;
        }
      }
    }
  }
}
